.form_design{
    background-color: #b0cbe6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px 60px 40px;
}

.form_design .required{
    color: red;
    margin-bottom: 5px;
}

.form_design h1{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.form_design h5{
    font-size: 15px;
}

.form_design p{
    display: inline-block;
    margin-bottom: clamp(5px,5vw, 10px);
}

.form_content{
    font-size: 20px;
    padding-bottom: clamp(15px, 3vw, 18px)
}

.form_content label{
    font-family: "IM Fell French Canon", serif;
    width: clamp(25px, 5vw, 30px);
}

.form_content input{
    width: clamp(455px, 5vw, 450px);
    padding: 10px 5px;
}

.form_content .show{
    display: block;
    text-align: center;
    margin-right: 60px;
    color: cornflowerblue;
}

.signup_button{
    background-color: #496894;
    color: white;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    padding: 10px 35px;
    border: none;
    margin-right: 15px
}

.cancel_button{
    background-color: #B14746;
    color: white;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    padding: 10px 95px;
    border: none;
    /*max-width: 570px;*/
}

.return{
    margin-top: 40px;
}

.return p{
    display: inline;
    font-weight: bold;

}

.already Link{
    display: inline;
    color: cornflowerblue;
}

@media screen and (max-width:480px){
    .form_content input{
        width:100%;
    }

}
