.menu_nav {
    background: #566888;
    width: 250px;
    height: 100px;
    padding: 16px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_labels{
    font-size: 64px;
    color: white;
}

.sub_menu{
    background: #566888;
    transition: background-color 0.2s ease;
    width: 100%;
}

.sub_menu.expanded{
    background: #566888;
}
.submenu_item{
    display: flex;
    color: white;
    font-size: 44px;
}

.dropdown_menu {
    font-size: 25px;
    width: 100%;
    margin: 20px;

    border-left: darkblue solid 2px;
    cursor: pointer;
    color: #a4b5d1;

}
.close_submenu{
    display:flex;
    justify-content: right;
}