.heading{
  background-color:#b0cbe6;
  width: fit-content;
  min-height: auto;
  margin: 70px auto 0;
  padding: 5px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background-color: #fed6ce;
}


.content{
  width: min(668px, 90%);
  margin: 64px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 27px;
}

.account, .add, .manage,.access{
  background-color: #a4b5d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.account h3, .add  h3, .manage h3, .access h3{
  margin: 0 0 35px;
  font-size: clamp(20px, 3vw, 27px);
  font-style: italic;
}

.account p, .add p, .manage p,.access p{
  margin: 0;
  font-size: clamp(18px, 3vw, 27px);
}


.topButtons{
  position: absolute;
  top:27px;
  right:3%;
  display:flex;
  align-items:center;
}
.bottomButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}

.topLoginButton {
  border: black solid 1px;
  border-radius: 5px;
  background-color: #496894;
  padding: 8px 12px;
  margin-right: 10px;
  font-style: italic;
  font-size: clamp(14px, 1.5vw, 16px);

}

.top_create_Account_Button{
  border: black solid 1px;
  border-radius : 5px;
  background-color:#1d3156;
  color: white;
  padding: 8px 12px;
  font-size: clamp(11px, 1.5vw, 14px);

}

.bottomLoginButton {
  border: black solid 1px;
  border-radius: 5px;
  background-color: #496894;
  padding: 8px 12px;
  margin-right: 10px;
  font-style: italic;
  font-size: clamp(18px, 3vw, 24px);

}

.bottom_create_Account_Button{
  border: black solid 1px;
  border-radius : 5px;
  background-color:#1d3156;
  color: white;
  padding: 8px 11px;
  font-size: clamp(16px, 2.5vw, 21px);
}
.footer{
  background-color: lightgray;
}
.footerLinks{
  background-color: #faf8f8;
  display: flex;
  flex-direction: row;

}
.footerLinks p{
  margin: 0 10px;
}


.address p{
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Images img{
  width: 50px;
  height: 50px;


}

.Images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

